*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Bebas';
    src: url('../fonts/Bebas-Regular.otf'),
    url('../fonts/Bebas-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueCyr-Medium.otf'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Bebas;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
/* header */
.header{
    height: 60px;
}
.header, .footer {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.footer {
    margin-top: 20px;
    height: 345px;
}
.header-main {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-main {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange-block {
    width: calc((100% - 980px)/2);
    height: 60px;
    background-color: #f2ae9c;
    transform: translateY(60px);
}
.orange-block.non-translate {    
    transform: translateY(0px);
    height: 100%;
}
.header-main__logo {
    
    color: #e8603c;    
    text-transform: uppercase;
    font-size: 36pt;
    font-weight: bold;
    align-items: center;
}
.header-main__logo a{
    text-decoration: none;
    color: #e8603c;  
}
.header-main__logo span{
    color:#f0b19d;
}

.header-main__menu-link {
    font-size: 16px;
    text-transform: uppercase;
    color: #b9b9b9;
    text-decoration: none;
    margin-right: 30px;
}

.header-main__menu-link:last-child {    
    margin-right: 0px;
}
.header-main__menu-link.active {    
    color: #e8603c;
}

.header-main__menu-link span{
    color:#f0b19d;
}

/* container */
/* slider */
.container{
    padding-left: 84px;
    padding-right: 84px;
    
   
}
.main-slider-item{
    position: relative;
}
.main-slider-item__info {
    width: 420px;    
    position: absolute;
    bottom: 35px;
    left: 35px;    
    background: #e8603c;
    opacity: 0.6;
    padding: 25px 20px;
    color: #fff;
}
.main-slider-item__info-text p {
    margin-bottom: 0px;
    text-transform: none;    
}
.our-features-block {
    padding-left: 0;
    padding-right: 0;
}
.our-features-block-item__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.our-features-block-item__header-img {
    margin-right: 20px;
}
.our-features-block-item__header-title {
    color: #e8663c;    
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.our-features-block-item__main {
    font-family: 'Helvetica Neue';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #414141;
    margin-bottom: 20px;
}
.btn-custom {
    padding: 10px 15px;
    background-color: #e8663c;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #fff !important;
    
}
.our-features-block-item__footer{
    margin-bottom:45px;
}
.main-slider-nav {
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;    
}
.main-slider-nav-item {
    cursor: pointer;
}
.main-slider-nav-item img {
    width: 100%;
    height: auto;
}
.slick-arrow {
    z-index: 1;
    width: unset;
    height: unset;
    top: 160px;
}
.slick-arrow:before {
    content: "";
    display: block;
    width: 36px;
    height: 52px;
}
.slick-next {
    right: 40px;
}
.slick-next:before {
    background-image: url('../img/next.svg');
}
.slick-prev {
    left: 40px;
}
.slick-prev:before {
    background-image: url('../img/previous.svg');
}



.footer-main.row{
    background: #e8663c;
    color:white;
}
.footer-main-column{
    margin-top:25px;
    padding-top: 0;
    height: 281px;
}
.footer-main-column__header{
    font-family: Bebas;
    font-size: 20pt;
    /* margin-top:15px; */
    margin-bottom: 20px;
}

.footer-main-column__info{
    font-family: 'Helvetica Neue';
    font-size: 10pt;
    font-weight: lighter;
    margin:0;
    padding: 0;
    
}
.footer-main-column__info span{
    color:#f1b09b;
}
.footer-main-column__header span{
    
    text-transform: uppercase;
}
.line{
    width: 941px;
    height: 20px;
    margin-left:9px;
    padding:0;
    text-transform: capitalize;
    color:#e8603c;
    font-size: 18pt;
    flex-wrap: nowrap;
    
    /* align-items: center; */
    margin-bottom:25px;
}

.line.img{
    margin-top: 6px;
    background:url('../img/line.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
}
.characters{
    width: 910px;
    margin-left:9px;
    margin-bottom:10px;
    padding:0;
    flex-wrap:nowrap;
    
}
.characters.item{
    border: 1px solid #b9b9b9;
    

}
.characters.item img{
    width: 100%;
    height: 188px;
    overflow: hidden;
    position: relative;
}

.characters.item h5{
    padding-top:  10px;
    padding-bottom:0;
    margin-bottom:0;
    padding-left:20px;
    color: #b9b9b9;
    font-size: 16pt ;
    padding-bottom: 0;
}


.characters.item p{
    font-size: 11pt;
    color:#e8663c;
    padding-top:0;
    padding-left:20px;
    margin-bottom: 10px;
}
.img{
    
    background-repeat: no-repeat;
    height: 188px;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    border: none;
    background-size:  cover;
    background-position: center;
}
/*1 line*/
.cd{
    background: url('../img/Character-design.png');
    }
.bd{
 background: url('../img/Brochure-design.png');
 }

.smb{
    background: url('../img/portfolio/3.png');
    }

.wt{
     background: url('../img/portfolio/4.png');
    }

.effect{
    position: absolute;
    background: url('../img/portfolio/TruePlus.png');
    background-repeat: no-repeat;
    
    background-position: center;
    top:0;
    left:0;
    height: 188px;
    width: 100%;
    background-color: rgba(0, 0, 0,.5);
    z-index: 99999;
    opacity: 0;
}
.cd:hover .effect{
    opacity: 1;
    
}

    /*2 line*/


    .p{
        background: url('../img/portfolio/2-1.PNG');
        }
    .wg{
     background: url('../img/portfolio/2-2.PNG');
     }
    
    .brd{
        background: url('../img/portfolio/2-3.png');
        }
    
    .bbb{
         background: url('../img/portfolio/2-4.png');
        }

         /*3 line*/


    .cc{
        background: url('../img/portfolio/3-1.PNG');
        }
    .sd{
     background: url('../img/portfolio/3-2.PNG');
     }
    
    .bs{
        background: url('../img/portfolio/3-3.png');
        }
    
    .sp{
         background: url('../img/portfolio/3-4.png');
        }

/*for portfolio fail*/

/* title*/
.main-title{
    background:#e8603c;
    height: 60px;
    margin-bottom: 25px;
    width: 940px;
    margin-left: 16px;
    
}
.main-title h1{
    font-size: 24pt;
    color:white;
    padding-top: 7px;
}

/*list*/
.title-list-portfolio{
    display: flex;
    justify-content: flex-start;
}
.title-list-portfolio.item-all{
    color: #b9b9b9;
    font-size:14pt;
    padding: 10px;
    margin-bottom: 30px;

}
.title-list-portfolio.item-all.active{
    color: white;
    background: #e8603c;
    
}

.portfolio-item{
    width: 940px;
    height: 400px;
    margin-left: 16px;
    background: url('../img/portfolio/item.png');
    background-size:cover;
    
}
.text-plag{
    margin-top: 25px;
    font-family: 'Helvetica Neue';
    font-size: 12pt;
    font-weight: none;
    color:#414141;
    text-decoration: none;
    margin-bottom: 40px;
}

.about-us{
    padding-left: 9px;
}
.about-us.main_about{
    font-family: 'Helvetica Neue';
    font-size: 12px;
    font-weight: regular;
    color:#414141;
    text-decoration: none;
    -webkit-font-smoothing: smooth;
    
}
.photo_text{
    padding-left:0px;
    margin-left:0px;
    width: 665px;
   
}
.img-mike{
    background: url('../img/portfolio/Mike\(new\).PNG');
    background-size:cover;
    width: 230px;
    height: 225px;
    padding-left:0px;
    margin-left:0px;
}
.text-mike{
    margin-left: 8px;
    width: 420px;
}

/*sidebar*/
.about_portfolio, .categories, .photogallery{
    width:227px;
    display: flex;
    flex-wrap: wrap;
}
.title_of_cate{
    

    font-family: 'Bebas';
    font-size: 14pt;
    color:#e8603c;
}
.background-img{
    background:url('../img/line.png');
    background-repeat: no-repeat;
    background-position: center;
}
.ap.background-img{
    width: 130px;
    margin-left:17px;
    
}
.c.background-img{
    height: 27px;
    width: 136px;
    margin-left: 17px;
   
}

.phg{
    width: 111px;
    margin-left:17px;
    
}

.text_of_cate{
    font-family: 'Helvetica Neue';
    font-size: 12px;
    font-weight: regular;
    color:#414141;
    margin-top: 8px;
    margin-bottom: 15px;
}

.text_of_cate p{
    margin:0;
    padding: 0;
}

/*end sidebar*/

/*Drop caps*/


.letter_D{
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36pt;
    color: #e8603c;
}
.drop_caps.text{
    padding: 0;
    font-family: 'Helvetica Neue';
    font-weight: 0;
    font-size: 12px;
    color: #414141;
}
.drop_caps.text img{
    float:left;
}
.drop_caps.text span{
    margin-left:7px;
}

/*quote block*/

.quote{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom:20px;
}
.quote.img{
    width:20px;
    height: 79px;
    background: url('../img/quote-line.png');
    background-repeat: no-repeat;
    margin-right: 3px;
}
.quote.text{
    width:560px;
    height: 89px;
    font-family: 'Helvetica Neue LightItalic';
    font-style: Italic;
    font-weight: 100;
    font-size: 12px;
    color: #414141;
}

/* 2 column*/
.two-column, .column-1, .column-2{
    padding:0;
}
.two-column{
    margin-bottom:30px;
}

/* 3 column*/
.three-column, .column-1, .column-2, .column-3{
    padding:0;
}
.three-column{
    margin-bottom:20px;
}

.alert.green{
    margin-bottom:10px;
    height: 90px;
    background-color: #effeb9;
    border: 1px solid green;
}
.alert.green p{
    color: green;
}
.alert.red{
    height: 90px;
    background-color: #fbcbc1;
    border: 1px solid red;
    margin-bottom:10px;
}
.alert.red p{
    color: red;
}
.alert.orange{
    height: 90px;
    background-color: #ffe9ad;
    border: 1px solid orange;
    margin-bottom:10px;
}
.alert.orange p{
    color: orange;
}
.alert.blue{
    height: 90px;
    background-color: #d1e4f3;
    border: 1px solid blue;
    margin-bottom:10px;
}
.alert.blue p {
    color: blue;
}

.alert p{
    margin: 0 auto;
    padding: 23px;
}